body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
}

a {
  color: #1C9C94;
  text-decoration: none;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 8px;
  border-radius: 50%;
  background: white;
  color: #230f49;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #4f6d7a;
  color: white;
}


a:hover {
  opacity: 0.5;
}

article {
  padding: 0 1em;
}

section {
  margin: 1em;
  padding: 1em;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url('../assets/img/bg.jpg');

  background-size: cover;
  background-position: fixed;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}
.skills{
  display: grid;
  grid-template-columns: 50%;
  grid-template-areas: 
  "avknowledge bknowledge"
  "language language";
}
.contacto{
  display: grid;
  grid-template-columns: 50%;
  grid-template-areas:
  ""
}
.avknowledge{
grid-area: avknowledge;
}
.bknowledge{
grid-area: bknowledge;
}
.languages{
grid-area: language;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
}

h3,
h4 {
  font-weight: bold;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fab {
  color: rgb(52, 91, 109);
}

.course .descrition p {
  padding-left: 1em;
}

ul>li {
  list-style-type: none;
}

ul>li:before {
  content: "►";
  padding-right: 0.5em;
  color: #509e98;
}

.school,
.job-title {
  text-transform: capitalize;
}

#experience li:before {
  content: "✔";
  padding-right: 0.5em;
  color: #509e98;
}

footer {
  padding: 1em 1.5em;
  background: #A7B8BF;
  color: white;
  text-align: right;
}
